.App {
  text-align: center;
}

.modal{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed ;
  top: 0;
  left:0;
  width: 100%;
  height: 100%; 
  background: rgba(0,0,0, 0.1 );  
}
.modal-content{
  background: #ffff;
  width: 25%;
  height: 75;
  padding: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
} 
.submit-button{
  width: 9rem;
  height: 2.5rem;
  border-radius: 5px;
  background-color: #2196F3;
  color: #fff; 
  font-weight: 700;
}
.open-button{
  width: 9rem;
  height: 2.5rem;
  border-radius: 5px;
  background-color: #2196F3;
  color: #fff; 
  font-weight: 700;
}
.inputtext{
  width: 80% ;
  padding:10px; 
  font-size: 12pt;
  color:darkslategray;
  box-sizing: border-box;
  margin-bottom:1px;   
    
}